# 로컬 Flask 실행용
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=your_local_db_password
DB_NAME=whs

# Docker Compose용
MYSQL_ROOT_PASSWORD=your_mysql_root_password
MYSQL_DATABASE=yanawa_db
MYSQL_USER=yanawa_user
MYSQL_PASSWORD=your_mysql_password

# Flask
SECRET_KEY=your_secret_key

# AWS S3
S3_BUCKET_NAME=yanawa-profile