openapi: 3.0.3
info:
  title: YANAWA API
  version: 1.0.0
  description: 'WHS200 YANAWA 서비스의 HTTP API 명세입니다.


    기준 소스: GitHub main / PR #10 병합 커밋 d33a7ae31a4952dc6875b57c491e681bb8835304.


    Flask session cookie를 인증에 사용합니다. ADMIN 전용 API는 x-required-role: ADMIN으로 표시합니다. Socket.IO 이벤트는 OpenAPI HTTP path가 아니므로
    문서 마지막의 x-socketio-events 확장 필드에 별도로 기록했습니다.'
servers:
  - url: https://yanawa.kr
    description: Production
security:
  - sessionCookie: []
tags:
  - name: Auth
  - name: Users
  - name: Sports
  - name: Meetings
  - name: Participation
  - name: Waitlist
  - name: Chat
  - name: Friends
  - name: Blocks
  - name: Community
  - name: Reports
  - name: Notifications
  - name: Favorites
  - name: Stats
  - name: Sport Proposals
  - name: Admin
paths:
  /api/auth/signup:
    post:
      tags:
        - Auth
      summary: 회원가입
      operationId: signup
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
      responses:
        '201':
          description: 회원가입 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: registered.
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
  /api/auth/login:
    post:
      tags:
        - Auth
      summary: 로그인
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: 로그인 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login Success.
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/auth/logout:
    post:
      tags:
        - Auth
      summary: 로그아웃
      operationId: logout
      security: []
      responses:
        '200':
          description: 로그아웃 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Logout success.
  /api/users/me:
    get:
      tags:
        - Users
      summary: 내 프로필 조회
      operationId: getMe
      responses:
        '200':
          description: 내 프로필
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMe'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
    patch:
      tags:
        - Users
      summary: 내 프로필 수정
      operationId: updateMe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                nickname:
                  type: string
                region:
                  type: string
      responses:
        '200':
          description: 수정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
    delete:
      tags:
        - Users
      summary: 계정 삭제
      operationId: deleteMe
      responses:
        '200':
          description: 삭제 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/users/{user_id}:
    get:
      tags:
        - Users
      summary: 상대 프로필 조회
      operationId: getUserProfile
      parameters:
        - name: user_id
          in: path
          required: true
          description: 조회할 사용자 ID
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: 사용자 프로필
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/users/me/password:
    patch:
      tags:
        - Users
      summary: 비밀번호 변경
      operationId: updatePassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - current_password
                - new_password
              properties:
                current_password:
                  type: string
                  format: password
                new_password:
                  type: string
                  format: password
                  minLength: 8
      responses:
        '200':
          description: 변경 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/users/me/profile-image:
    post:
      tags:
        - Users
      summary: 프로필 이미지 등록 또는 변경
      operationId: uploadProfileImage
      description: jpg/jpeg/png/webp만 허용. 최대 실제 파일 크기 5MB.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - profile_image
              properties:
                profile_image:
                  type: string
                  format: binary
      responses:
        '200':
          description: 이미지 변경 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  profile_image:
                    type: string
                    nullable: true
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '413':
          description: 업로드 크기 제한 초과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Payload too large.
  /api/sports:
    get:
      tags:
        - Sports
      summary: 활성 운동 종목 전체 조회
      operationId: getSports
      security: []
      responses:
        '200':
          description: 활성 종목 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sport'
  /api/users/me/sports:
    get:
      tags:
        - Sports
      summary: 내 운동 프로필 조회
      operationId: getMySports
      responses:
        '200':
          description: 내 운동 종목
          content:
            application/json:
              schema:
                type: object
                properties:
                  sports:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserSport'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
    post:
      tags:
        - Sports
      summary: 내 운동 종목 추가
      operationId: addMySport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sport_id
                - skill_level
              properties:
                sport_id:
                  type: integer
                  minimum: 1
                skill_level:
                  $ref: '#/components/schemas/SkillLevel'
      responses:
        '201':
          description: 등록 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
  /api/users/me/sports/{sport_id}:
    patch:
      tags:
        - Sports
      summary: 내 운동 실력 수정
      operationId: updateMySport
      parameters:
        - name: sport_id
          in: path
          required: true
          description: 운동 종목 ID
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - skill_level
              properties:
                skill_level:
                  $ref: '#/components/schemas/SkillLevel'
      responses:
        '200':
          description: 수정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
    delete:
      tags:
        - Sports
      summary: 내 운동 종목 삭제
      operationId: deleteMySport
      parameters:
        - name: sport_id
          in: path
          required: true
          description: 운동 종목 ID
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: 삭제 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/users/me/stats:
    get:
      tags:
        - Stats
      summary: 내 활동 통계 조회
      operationId: getMyStats
      responses:
        '200':
          description: 통계
          content:
            application/json:
              schema:
                type: object
                properties:
                  participation_count:
                    type: integer
                  attended_count:
                    type: integer
                  no_show_count:
                    type: integer
                  attendance_rate:
                    type: number
                    nullable: true
                  hosted_count:
                    type: integer
                  friend_count:
                    type: integer
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/users/{user_id}/stats:
    get:
      tags:
        - Stats
      summary: 사용자 활동 통계 조회
      operationId: getUserStats
      parameters:
        - name: user_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: 통계
          content:
            application/json:
              schema:
                type: object
                properties:
                  participation_count:
                    type: integer
                  attended_count:
                    type: integer
                  no_show_count:
                    type: integer
                  attendance_rate:
                    type: number
                    nullable: true
                  hosted_count:
                    type: integer
                  friend_count:
                    type: integer
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/meetings:
    get:
      tags:
        - Meetings
      summary: 모임 목록 조회
      operationId: getMeetings
      security: []
      parameters:
        - name: keyword
          in: query
          required: false
          schema:
            type: string
          description: 제목/설명 검색
        - name: sport_id
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
        - name: date
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: location
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/MeetingStatus'
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: 모임 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  meetings:
                    type: array
                    items:
                      $ref: '#/components/schemas/Meeting'
                  total:
                    type: integer
                  page:
                    type: integer
                  size:
                    type: integer
                  total_pages:
                    type: integer
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
    post:
      tags:
        - Meetings
      summary: 모임 생성
      operationId: createMeeting
      description: 시작 시각은 미래여야 하며 end_time은 같은 날짜에서 30분~12시간 범위여야 합니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingInput'
      responses:
        '201':
          description: 생성 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  meeting_id:
                    type: integer
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
        '415':
          description: 지원하지 않는 Content-Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Content-Type should be JSON.
  /api/meetings/mine:
    get:
      tags:
        - Meetings
      summary: 내가 만들거나 참여 중인 모임 조회
      operationId: getMyMeetings
      responses:
        '200':
          description: 내 모임
          content:
            application/json:
              schema:
                type: object
                properties:
                  meetings:
                    type: array
                    items:
                      $ref: '#/components/schemas/Meeting'
                  total:
                    type: integer
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/meetings/{meeting_id}:
    get:
      tags:
        - Meetings
      summary: 모임 상세 조회
      operationId: getMeeting
      security: []
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: 모임 상세
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meeting'
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
    put:
      tags:
        - Meetings
      summary: 모임 전체 수정
      operationId: updateMeeting
      description: '정상 권한: 모임장 또는 ADMIN.'
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingInput'
      responses:
        '200':
          description: 수정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
        '415':
          description: 지원하지 않는 Content-Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Content-Type should be JSON.
    delete:
      tags:
        - Meetings
      summary: 모임 삭제
      operationId: deleteMeeting
      description: '정상 권한: 모임장 또는 ADMIN. 참여 이력이 있으면 삭제 대신 취소해야 합니다.'
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '204':
          description: 삭제 성공
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
  /api/meetings/{meeting_id}/status:
    patch:
      tags:
        - Meetings
      summary: 모임 상태 변경
      operationId: updateMeetingStatus
      description: '정상 권한: 모임장 또는 ADMIN. 허용 전이: RECRUITING↔CLOSED, RECRUITING/CLOSED→CANCELED.'
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum:
                    - RECRUITING
                    - CLOSED
                    - CANCELED
      responses:
        '200':
          description: 상태 변경 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status:
                    type: string
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
        '415':
          description: 지원하지 않는 Content-Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Content-Type should be JSON.
  /api/meetings/{meeting_id}/participants:
    post:
      tags:
        - Participation
      summary: 모임 참여 신청
      operationId: joinMeeting
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '201':
          description: 참여 신청 또는 대기열 등록
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  participation_status:
                    $ref: '#/components/schemas/ParticipationStatus'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
    get:
      tags:
        - Participation
      summary: 승인 대기 참가 신청 목록 조회
      operationId: getPendingParticipants
      description: '정상 권한: 모임장.'
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: PENDING 참가 신청 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  participants:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/meetings/{meeting_id}/participants/me:
    delete:
      tags:
        - Participation
      summary: 내 참여 신청/참여 취소
      operationId: cancelParticipation
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: 취소 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
  /api/meetings/{meeting_id}/participants/approved:
    get:
      tags:
        - Participation
      summary: 현재 승인된 참여자 목록 조회
      operationId: getApprovedParticipants
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: APPROVED 참여자 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  participants:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/meetings/{meeting_id}/participants/{target_user_id}:
    delete:
      tags:
        - Participation
      summary: 참여자 강퇴
      operationId: kickParticipant
      description: '정상 권한: 모임장.'
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
        - name: target_user_id
          in: path
          required: true
          description: 대상 사용자 ID
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: 강퇴 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
  /api/meetings/{meeting_id}/participants/{target_user_id}/approve:
    post:
      tags:
        - Participation
      summary: 참가 신청 승인
      operationId: approveParticipant
      description: '정상 권한: 모임장. 정원이 가득 찬 경우 WAITING으로 전환될 수 있습니다.'
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
        - name: target_user_id
          in: path
          required: true
          description: 대상 사용자 ID
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: 승인 성공 또는 대기열 전환
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
  /api/meetings/{meeting_id}/participants/{target_user_id}/reject:
    post:
      tags:
        - Participation
      summary: 참가 신청 거절
      operationId: rejectParticipant
      description: '정상 권한: 모임장.'
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
        - name: target_user_id
          in: path
          required: true
          description: 대상 사용자 ID
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: 거절 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/meetings/{meeting_id}/participants/{target_user_id}/attendance:
    post:
      tags:
        - Participation
      summary: 출석 또는 No-Show 처리
      operationId: updateAttendance
      description: '정상 권한: 모임장. COMPLETED 모임에서만 처리 가능합니다.'
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
        - name: target_user_id
          in: path
          required: true
          description: 대상 사용자 ID
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - attendance_status
              properties:
                attendance_status:
                  $ref: '#/components/schemas/AttendanceStatus'
      responses:
        '200':
          description: 출석 상태 저장
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
  /api/meetings/{meeting_id}/waitlist:
    get:
      tags:
        - Waitlist
      summary: 모임 대기열 조회
      operationId: getWaitlist
      description: 모임장은 전체 대기열을 보고, 일반 사용자는 자신의 대기 정보만 볼 수 있습니다.
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: 대기열
          content:
            application/json:
              schema:
                type: object
                properties:
                  waitlist:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  total:
                    type: integer
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/chat/rooms:
    get:
      tags:
        - Chat
      summary: 내 채팅방 목록 조회
      operationId: getChatRooms
      responses:
        '200':
          description: 채팅방 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  chat_rooms:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChatRoom'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/chat/rooms/{chat_room_id}/messages:
    get:
      tags:
        - Chat
      summary: 채팅 메시지 조회
      operationId: getChatMessages
      parameters:
        - name: chat_room_id
          in: path
          required: true
          description: 채팅방 ID
          schema:
            type: integer
            minimum: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: before_message_id
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: 이 메시지 ID보다 이전 메시지 조회
      responses:
        '200':
          description: 메시지 페이지
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChatMessage'
                  has_more:
                    type: boolean
                  next_before_message_id:
                    type: integer
                    nullable: true
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/chat/rooms/{chat_room_id}/members:
    get:
      tags:
        - Chat
      summary: 채팅방 멤버 조회
      operationId: getChatRoomMembers
      parameters:
        - name: chat_room_id
          in: path
          required: true
          description: 채팅방 ID
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: 멤버 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicUser'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/chat/direct:
    post:
      tags:
        - Chat
      summary: 1:1 채팅방 생성 또는 기존 방 조회
      operationId: createDirectChat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
              properties:
                user_id:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: 기존 채팅방
          content:
            application/json:
              schema:
                type: object
                properties:
                  chat_room_id:
                    type: integer
        '201':
          description: 새 채팅방 생성
          content:
            application/json:
              schema:
                type: object
                properties:
                  chat_room_id:
                    type: integer
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
  /api/friends/search:
    get:
      tags:
        - Friends
      summary: 닉네임으로 사용자 검색
      operationId: searchUsers
      parameters:
        - name: nickname
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 50
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: 사용자 검색 결과
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicUser'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/friends/requests:
    post:
      tags:
        - Friends
      summary: 친구 요청 보내기
      operationId: sendFriendRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
              properties:
                user_id:
                  type: integer
                  minimum: 1
      responses:
        '201':
          description: 요청 생성
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: integer
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
    get:
      tags:
        - Friends
      summary: 친구 요청 목록 조회
      operationId: listFriendRequests
      parameters:
        - name: direction
          in: query
          required: false
          schema:
            type: string
            enum:
              - received
              - sent
            default: received
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: 친구 요청 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/friends/requests/{request_id}/{action}:
    post:
      tags:
        - Friends
      summary: 친구 요청 처리
      operationId: handleFriendRequest
      parameters:
        - name: request_id
          in: path
          required: true
          description: 친구 요청 ID
          schema:
            type: integer
            minimum: 1
        - name: action
          in: path
          required: true
          schema:
            type: string
            enum:
              - accept
              - reject
              - cancel
      responses:
        '200':
          description: 처리 결과
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - ACCEPTED
                      - REJECTED
                      - CANCELED
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
  /api/friends:
    get:
      tags:
        - Friends
      summary: 친구 목록 조회
      operationId: listFriends
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: 친구 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  friends:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicUser'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/friends/{user_id}:
    delete:
      tags:
        - Friends
      summary: 친구 삭제
      operationId: deleteFriend
      parameters:
        - name: user_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '204':
          description: 삭제 성공
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/blocks:
    get:
      tags:
        - Blocks
      summary: 내 차단 목록 조회
      operationId: listBlocks
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: 차단 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  blocks:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicUser'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/blocks/{user_id}:
    post:
      tags:
        - Blocks
      summary: 사용자 차단
      operationId: blockUser
      parameters:
        - name: user_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '201':
          description: 차단 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
    delete:
      tags:
        - Blocks
      summary: 사용자 차단 해제
      operationId: unblockUser
      parameters:
        - name: user_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '204':
          description: 해제 성공
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/community/posts:
    get:
      tags:
        - Community
      summary: 게시글 목록 조회
      operationId: listCommunityPosts
      parameters:
        - name: board
          in: query
          required: false
          schema:
            type: string
            enum:
              - FREE
              - TIPS
              - NOTICE
        - name: keyword
          in: query
          required: false
          schema:
            type: string
            maxLength: 100
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: 게시글 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
    post:
      tags:
        - Community
      summary: 게시글 작성
      operationId: createCommunityPost
      description: NOTICE 작성은 ADMIN만 가능합니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - board
                - title
                - content
              properties:
                board:
                  type: string
                  enum:
                    - FREE
                    - TIPS
                    - NOTICE
                title:
                  type: string
                  minLength: 2
                  maxLength: 100
                content:
                  type: string
                  minLength: 1
                  maxLength: 10000
      responses:
        '201':
          description: 게시글 생성
          content:
            application/json:
              schema:
                type: object
                properties:
                  post_id:
                    type: integer
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/community/posts/{post_id}:
    get:
      tags:
        - Community
      summary: 게시글 상세 및 댓글 조회
      operationId: getCommunityPost
      parameters:
        - name: post_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: 게시글과 댓글
          content:
            application/json:
              schema:
                type: object
                properties:
                  post:
                    type: object
                    additionalProperties: true
                  comments:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
    put:
      tags:
        - Community
      summary: 게시글 수정
      operationId: updateCommunityPost
      description: 작성자 또는 ADMIN만 수정 가능. NOTICE는 ADMIN만 작성/수정 가능.
      parameters:
        - name: post_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - board
                - title
                - content
              properties:
                board:
                  type: string
                  enum:
                    - FREE
                    - TIPS
                    - NOTICE
                title:
                  type: string
                  minLength: 2
                  maxLength: 100
                content:
                  type: string
                  minLength: 1
                  maxLength: 10000
      responses:
        '200':
          description: 수정 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
    delete:
      tags:
        - Community
      summary: 게시글 삭제
      operationId: deleteCommunityPost
      description: 작성자 또는 ADMIN만 삭제 가능.
      parameters:
        - name: post_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '204':
          description: 삭제 성공
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/community/posts/{post_id}/comments:
    post:
      tags:
        - Community
      summary: 댓글 작성
      operationId: createComment
      parameters:
        - name: post_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
                  minLength: 1
                  maxLength: 1000
      responses:
        '201':
          description: 댓글 생성
          content:
            application/json:
              schema:
                type: object
                properties:
                  comment_id:
                    type: integer
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/community/comments/{comment_id}:
    delete:
      tags:
        - Community
      summary: 댓글 삭제
      operationId: deleteComment
      description: 작성자 또는 ADMIN만 삭제 가능.
      parameters:
        - name: comment_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '204':
          description: 삭제 성공
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/reports:
    post:
      tags:
        - Reports
      summary: 신고 접수
      operationId: createReport
      description: 1일 최대 10건. 같은 대상은 24시간 내 중복 신고 불가.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - target_type
                - target_id
                - reason
              properties:
                target_type:
                  type: string
                  enum:
                    - USER
                    - MEETING
                    - POST
                target_id:
                  type: integer
                  minimum: 1
                reason:
                  type: string
                  minLength: 1
                  maxLength: 100
                detail:
                  type: string
                  maxLength: 1000
      responses:
        '201':
          description: 신고 접수
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: integer
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
        '429':
          description: 요청 제한 초과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Rate limit reached.
  /api/reports/mine:
    get:
      tags:
        - Reports
      summary: 내 신고 목록 조회
      operationId: getMyReports
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: 내 신고 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  reports:
                    type: array
                    items:
                      $ref: '#/components/schemas/Report'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/notifications:
    get:
      tags:
        - Notifications
      summary: 알림 목록 조회
      operationId: listNotifications
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: 알림 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/notifications/unread-count:
    get:
      tags:
        - Notifications
      summary: 읽지 않은 알림 수 조회
      operationId: unreadNotificationCount
      responses:
        '200':
          description: 미확인 알림 수
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/notifications/{notification_id}/read:
    post:
      tags:
        - Notifications
      summary: 알림 읽음 처리
      operationId: readNotification
      parameters:
        - name: notification_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: 읽음 처리
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/notifications/read-all:
    post:
      tags:
        - Notifications
      summary: 모든 알림 읽음 처리
      operationId: readAllNotifications
      responses:
        '200':
          description: 전체 읽음 처리
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/favorites:
    get:
      tags:
        - Favorites
      summary: 즐겨찾기 모임 목록 조회
      operationId: listFavorites
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: 즐겨찾기 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  favorites:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/favorites/{meeting_id}:
    post:
      tags:
        - Favorites
      summary: 모임 즐겨찾기 추가
      operationId: addFavorite
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '201':
          description: 추가 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
    delete:
      tags:
        - Favorites
      summary: 모임 즐겨찾기 삭제
      operationId: removeFavorite
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '204':
          description: 삭제 성공
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/sports/proposals:
    post:
      tags:
        - Sport Proposals
      summary: 신규 운동 종목 제안
      operationId: proposeSport
      description: 사용자당 하루 최대 5건.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sport_name
              properties:
                sport_name:
                  type: string
                  minLength: 1
                  maxLength: 50
      responses:
        '201':
          description: 제안 생성
          content:
            application/json:
              schema:
                type: object
                properties:
                  proposal_id:
                    type: integer
                  status:
                    type: string
                    example: PENDING_REVIEW
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '409':
          description: 현재 상태 또는 중복 요청과 충돌
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Conflicting request.
        '429':
          description: 요청 제한 초과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Rate limit reached.
  /api/sports/proposals/mine:
    get:
      tags:
        - Sport Proposals
      summary: 내 종목 제안 목록 조회
      operationId: mySportProposals
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: 내 제안 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  proposals:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/admin/users:
    get:
      tags:
        - Admin
      summary: 관리자 사용자 목록 조회
      operationId: adminUsers
      x-required-role: ADMIN
      parameters:
        - name: keyword
          in: query
          required: false
          schema:
            type: string
            maxLength: 100
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - SUSPENDED
              - DELETED
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: 사용자 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminUser'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/admin/users/{user_id}:
    get:
      tags:
        - Admin
      summary: 관리자 사용자 상세 조회
      operationId: adminUserDetail
      x-required-role: ADMIN
      parameters:
        - name: user_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: 사용자 상세 및 조치 이력
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/AdminUser'
                  actions:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/admin/users/{user_id}/suspend:
    post:
      tags:
        - Admin
      summary: 사용자 기간 정지
      operationId: suspendUser
      x-required-role: ADMIN
      parameters:
        - name: user_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - days
                - reason
              properties:
                days:
                  type: integer
                  minimum: 1
                  maximum: 365
                reason:
                  type: string
                  minLength: 1
                  maxLength: 1000
      responses:
        '200':
          description: 정지 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/admin/users/{user_id}/unsuspend:
    post:
      tags:
        - Admin
      summary: 사용자 정지 해제
      operationId: unsuspendUser
      x-required-role: ADMIN
      parameters:
        - name: user_id
          in: path
          required: true
          description: 식별자
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  minLength: 1
                  maxLength: 1000
      responses:
        '200':
          description: 정지 해제
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
        '404':
          description: 대상을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not found.
  /api/admin/meetings:
    get:
      tags:
        - Admin
      summary: 관리자 모임 목록 조회
      operationId: adminMeetings
      x-required-role: ADMIN
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/MeetingStatus'
        - name: keyword
          in: query
          required: false
          schema:
            type: string
            maxLength: 100
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: 모임 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  meetings:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Bad request.
        '401':
          description: 로그인 필요 또는 세션 무효
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Login first.
        '403':
          description: 권한 없음 또는 계정 정지
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Not authorized.
  /api/admin/meetings/{meeting_id}/cancel:
    post:
      tags:
        - Admin
      summary: 관리자 모임 취소
      operationId: adminCancelMeeting
      x-required-role: ADMIN
      parameters:
        - name: meeting_id
          in: path
          required: true
          description: 식별자
          schema:
[...]
